@charset "utf-8";


.h-full {
  min-height: 101vh !important;
}

.width-320 {
  width: 320px !important;
}

/*
//$navbar-background-color: #002C73;
//$primary: #002C73;
*/

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
/* @import "~bulma/bulma"; */
.is-clickable:hover {
  cursor: pointer;
}



/*
// https://bulma.io/documentation/customize/with-webpack/#9-add-your-own-bulma-styles
*/